<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="logo" href="./index.html">
        <svg class="icon" width="132" height="24">
          <use href="./img/icons.svg#logo"></use>
        </svg>
      </a>

      <ul class="header-nav-list js-header-nav-list">
        <li>
          <div class="nav-item">
            <a
              class="nav-link"
              href="./index.html"
              aria-label="Move to Home page"
              >Home</a
            >
          </div>
        </li>
        <li>
          <div class="nav-item">
            <a
              class="nav-link"
              href="./favorites.html"
              aria-label="Move to Favorites page"
              >Favorites</a
            >
          </div>
        </li>
      </ul>

      <div class="social-media">
        <ul class="icons-list">
          <li class="media-icons">
            <a
              class="media-links"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook GoIT page"
            >
              <svg class="icon" width="28" height="28">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="media-icons">
            <a
              class="media-links"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram GoIT page"
            >
              <svg class="icon" width="28" height="28">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="media-icons">
            <a
              class="media-links"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Youtube GoIT page"
            >
              <svg class="icon" width="28" height="28">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <button class="menu-btn" type="button" aria-label="Mobile menu">
      <svg class="icon header-menu" width="32" height="32">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
