.category-container {
    width: 100%;
    display: none;
}

.container.active {
    display: block;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    gap: 20px;
    width: 335px;
    margin: auto;
}

.category-card {
    display: flex;
    color: var(--light);
    width: 335px;
    height: 225px;
    border-radius: 12px;
    padding: 48px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.category-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.5);
    z-index: 1;
}

.category-card img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.category-title {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.category-title h3 {
    margin: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: var(--light);
    text-transform: capitalize;
}

.category-title p {
    margin: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(244, 244, 244, 0.4);
}

@media screen and (min-width: 768px) {

    .category-list {
        column-gap: 15px;
        row-gap: 32px;
        width: 705px;
    }

    .category-card {
        width: 225px;
        height: 225px;
        border-radius: 12px;
        padding: 48px;
    }

    .category-title h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .category-list {
        column-gap: 15px;
        row-gap: 32px;
        width: 900px;
    }

    .category-card {
        width: 290px;
        height: 242px;
        border-radius: 12px;
        padding: 48px;
    }

    .category-title {
        gap: 4px;
    }

}