.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media (min-width: 768px) {
  .header-container {
    padding: 24px 32px;
  }
}

@media (min-width: 1440px) {
  .header-container {
    padding: 28px 32px;
  }
}

.logo {
  fill: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-nav-list {
  display: none;
}

@media (min-width: 768px) {
  .header-nav-list {
    width: 233px;
    height: 52px;
    border-radius: 60px;
    background: #242424;
    gap: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .header-nav-list {
    width: 265px;
  }
}

.nav-item {
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-nav-item-active {
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #f4f4f4;
}

.nav-link {
  color: #f4f4f4;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.js-nav-link-active {
  color: #242424;
}

.menu-btn {
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.social-media {
  display: none;
}

@media (min-width: 768px) {
  .social-media {
    display: flex;
  }
  .icons-list {
    gap: 12px;
    display: flex;
    flex-direction: row;
  }
  .media-icons {
    width: 40px;
    height: 40px;
  }
  .media-links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.1);
    fill: rgba(36, 36, 36, 0.8);
    background: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .media-links:hover,
  .media-links:focus {
    fill: #f4f4f4;
    background: rgba(36, 36, 36, 0.8);
  }
}
